* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #fff;
  }
  
  .cova {
    position: relative;
    height: 100vh;
    overflow-y: auto; /* Add a vertical scrollbar when content overflows */
    background-color: #000;
  }
  
  .embolcall {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 80px; /* Add bottom margin to accommodate the footer */
  }

  .contenidor-titol {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contenidor-titol h2 {
    font-style: italic;
    font-size: 1.2em;
  }  

  .contingut {
    position: relative;
    flex: 0 0 45%;
    margin: 10px;
    padding: 20px;
    background-color: #6e4343;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
  }

  .contingut:hover {
    background-color: #333;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
  }

  a {
    color: #fff;
  }

  .capsa-img {
    width: 100%;
    max-height: 150px; /* Adjust the maximum height as needed */
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Rotate image on hover */
  .contingut:hover .capsa-img {
    transform: rotate(360deg);
  }

  @media (max-width: 768px) {
    .contingut {
      flex: 0 0 100%; /* Full width on small screens */
    }
  }
  
  .peu-rodo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #333;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Add padding for better spacing*/ 
  }

  .peu-esq p {
    margin: 0;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flex to center the social links */
    align-items: center; /* Vertically center the social links */
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .social-links img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* Fix for Mozilla to properly display images */
  }