* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3498db;
  }

  header {
    background-color: #95a5a6;
    padding: 10px;
    text-align: left;
  }

  header a {
    color: #fff;
    text-decoration: none;
  }

  header:hover {
    background-color: #000;
  }

  .contenidor-titol {
    text-align: center;
    margin: 20px 0;
  }

  .contenidor-titol h1 {
    color: #fff;
  }

  .embolcall {
    width: 80%;
    margin: 50px auto;
    background-color: #8b4513;
    border: 10px solid #635242;
    border-radius: 10px;
    padding: 20px;
    position: relative;
  }

  .nansa {
    width: 160px;
    height: 60px;
    background-color: #635242;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
  }

  .apartat {
    background-color: #d2b48c; 
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
  }

  .label {
    background-color: #635242;
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 20px;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: 100% 50%; /* Orígen de rotació, centre-dreta xd */
    border-radius: 5px;
  }

  .label.musica {
    background-color: #cd853f; 
  }
  .label.llibres {
    background-color: #808000; 
  }
  .label.film {
    background-color: #2e8b57; 
  }

  .apartat h2,
  .apartat p {
    padding: 20px;
  }

  .apartat {
    width: calc(70% - 20px); 
  }

  .capsa-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    overflow: hidden;
  }

  .embolcall img {
    width: 90%;
    height: 97.5%;
    object-fit: cover;
    padding: 20px;
  }

  .boto-toggle {
    cursor: pointer;
    background-color: #ffffff51;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }

  .label.musica,
  .apartat.musica {
    font-family: "Courier New", Courier, monospace;
  }
  .label.llibres,
  .apartat.llibres {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .label.film,
  .apartat.film {
    font-family: "Arial", sans-serif;
  }

  .contingut-amagat {
    display: none;
  }

    /* Pantalletes */
    @media (max-width: 768px) {
      .embolcall {
        width: 100%;
      }
    
      .apartat h2,
      .apartat p {
        font-size: 14px; 
        padding: 10px;
      }
    
      .label {
        font-size: 12px;
      }
    }